/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/bali.jpg') center/cover no-repeat;
  color: #fff;
  padding: 400px 0;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 5px;
}

header p {
  font-size: 1.2rem;
}

.intro {
  background-color: #fff;
  padding: 80px 0;
  text-align: center;
}

.intro h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.intro p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 40px;
}

.intro img {
  width: 100%;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.highlights {
  background-color: #f9f9f9;
  padding: 80px 0;
}

.highlights h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
}

.highlight-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.highlight-card:hover {
  transform: translateY(-5px);
}

.highlight-card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.highlight-info {
  padding: 20px;
}

.highlight-info h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.highlight-info p {
  font-size: 1.1rem;
  color: #555;
}

.call-to-action {
  background: #333;
  color: #fff;
  padding: 80px 0;
  text-align: center;
}

.call-to-action h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.call-to-action p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.call-to-action button {
  padding: 15px 30px;
  font-size: 1.2rem;
  background: #ffffff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.call-to-action button:hover {
  background: #a39b96;
}
